html, body {
    height: 100%;
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
}
.card {
    height: 400px;
}
img  {
    height: 65%;
}
