html, body {
    height: 100%;
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
}
.card {
    height: 500px;
    position: relative;
}
img  {
    height: 65%;
}
.trash {
    position: absolute;
    bottom: 1%;
    left: 1%;

}
.jumbotron {
    height: 20%;
}
